<template>
    <Page>
        <ActionBar title="Detetive"
                   android:flat="true"/>
        <TabView android:tabBackgroundColor="#53ba82"
                 android:tabTextColor="#c4ffdf"
                 android:selectedTabTextColor="#ffffff"
                 androidSelectedTabHighlightColor="#ffffff">
            <TabViewItem title="Jogadores">
                <GridLayout columns="*"
                            rows="*">
                  <ListView for="item in listOfItems" @itemTap="onItemTap">
                    <v-template>
                      <Label :text="item.title" />
                    </v-template>

                    <v-template if="$odd">
                      <Label :text="item.title" color="red" />
                    </v-template>
                  </ListView>
                </GridLayout>
            </TabViewItem>
            <TabViewItem title="Eu">
                <GridLayout columns="*"
                            rows="*">
                  <Gradient direction="to right" colors="#ffcccc, #99ccff, #99ff99">
                    <Label text="Best gradient." horizontalAlignment="center"
                           style="color: white;" />
                  </Gradient>
                    <Label class="message"
                           :text="msg"
                           col="0"
                           row="0"/>
                </GridLayout>
            </TabViewItem>
            <TabViewItem title="Daniel">
                <GridLayout columns="*"
                            rows="*">
                    <Label class="message"
                           text="Tab 2 Content aas"
                           col="0"
                           row="0"/>
                </GridLayout>
            </TabViewItem>
            <TabViewItem title="Clarice">
                <GridLayout columns="*"
                            rows="*">
                    <Label class="message"
                           text="Tab 3 Content sss"
                           col="0"
                           row="0"/>
                </GridLayout>
            </TabViewItem>
        </TabView>
    </Page>
</template>

<script >
  export default {
    data() {
      return {
        msg: 'Clarice e Daniel meus amores vamos jogar pokemon',
        listOfItems: [
          {
            title:'Daniel',
            text:'Lindo',
            relacao:'Filho',
          },
          {
            title:'Clarice',
            text:'Linda',
            relacao:'Filha',
          },
        ]
      }
    }
  }
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
